---
import { getCollection, render } from "astro:content";

import Tag from "@/components/ui/tag.astro";
import Layout from "@/layouts/layout.astro";
import RecordItem from "./_components/record-item.astro";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { Content } = await render(Astro.props.project);

const data = Astro.props.project.data;

const [linksClass, linkButtonClass] = (() => {
  switch (data.links?.length) {
    case 1:
      return ["md:grid-cols-1", "rounded-xl"];
    case 2:
      return [
        "md:grid-cols-2",
        "first:border-l-0 first:border-t-0 first:md:rounded-l-xl first:md:rounded-r-none first:rounded-t-xl last:border-e-0 last:border-b-0 last:rounded-r-xl",
      ];
    case 3:
      return [
        "md:grid-cols-3",
        "first:border-l-0 first:border-t-0 first:md:rounded-l-xl first:md:rounded-r-none first:rounded-t-xl last:border-e-0 last:border-b-0 last:rounded-r-xl",
      ];
    case 4:
      return [
        "md:grid-cols-4",
        "first:border-l-0 first:border-t-0 first:md:rounded-l-xl first:md:rounded-r-none first:rounded-t-xl last:border-e-0 last:border-b-0 last:rounded-r-xl",
      ];
    default:
      return ["md:grid-cols-1", "rounded-xl"];
  }
})();
---

<Layout title={data.title}>
  <div class="flex font-bold gap-1 px-2">
    <a href="/" class="hover:text-secondary/80 underline">home</a>
    >
    <a href="/projects" class="hover:text-secondary/80 underline"> projects </a>
    {` > ${data.title}`}
  </div>
  <div class="grid gap-8 pt-4">
    <div
      class="grid bg-linear-65 bg-primary px-4 gap-4 rounded-xl text-background text-center py-30 from-primary from-20% to-secondary to-80% hover:opacity-90 transition-all duration-1000 ease-out"
    >
      <h2 class="text-7xl font-black">{data.title}</h2>
      <p class="font-semibold">{data.description}</p>
    </div>
    {
      data.links && (
        <div class={`grid bg-card rounded-xl grid-cols-1 ${linksClass}`}>
          {data.links.map((link) => (
            <a
              class={`text-center text-xl border-y md:border-x md:border-y-0 p-2 py-2 md:py-4  font-bold transition-all duration-300 ease-out ${linkButtonClass} ${link.primary ? "bg-primary text-background hover:bg-secondary" : "hover:bg-primary/20"}`}
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
            >
              {link.title}
            </a>
          ))}
        </div>
      )
    }
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
      <div class="grid bg-card col-span-1 lg:col-span-3 py-2 px-4 rounded-xl">
        <div class="flex flex-col">
          <h3 class="text-3xl font-bold border-b border-border p-4">Summary</h3>
          <div class="grid gap-4 p-4 leading-loose">
            <Content />
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full gap-4">
        {
          data.blocks?.map((block) => (
            <div class="grid bg-card rounded-xl p-4 gap-2">
              <h3 class="text-xl font-bold border-b pb-2">{block.title}</h3>
              <div class="flex flex-wrap gap-2">
                {block.type === "tags" &&
                  block.content.map((tag: string) => (
                    <Tag href={`/tags/${tag}`}>{tag}</Tag>
                  ))}
                {block.type === "plain" && (
                  <p class="text-sm">{block.content}</p>
                )}
                {block.type === "records" &&
                  block.content.map((record) => (
                    <RecordItem key={record[0]} value={record[1]} />
                  ))}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>

---
