---
import { getCollection, render } from "astro:content";

import Layout from "@/layouts/layout.astro";
import ProjectBlock from "./_components/project-block.astro";
import ProjectSection from "./_components/project-section.astro";
import ProjectSectionTitle from "./_components/project-section-title.astro";
import ProjectLinks from "./_components/project-links.astro";

export async function getStaticPaths() {
  const projects = await getCollection("project");

  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { Content } = await render(Astro.props.project);
const data = Astro.props.project.data;

const blocksOnTop = data.blocks?.filter((b) => b.onTop) ?? [];
const blocksOnBottom = data.blocks?.filter((b) => !b.onTop) ?? [];
---

<Layout title={data.title}>
  <div class="grid gap-4 pt-4">
    <div
      class="bg-primary text-primary-foreground from-primary to-secondary flex flex-col items-center justify-center gap-4 rounded-xl bg-linear-65 from-20% to-80% px-4 py-30 text-center transition-all duration-1000 ease-out hover:opacity-90"
    >
      <h2 class="text-7xl font-black">{data.title}</h2>
      <p class="max-w-4xl w-full font-semibold">{data.description}</p>
    </div>
    {data.links && <ProjectLinks links={data.links} />}
    {
      Astro.props.project.body && blocksOnTop.length > 0 && (
        <div class="flex w-full flex-col gap-4 md:hidden">
          {blocksOnTop.map((block) => (
            <ProjectBlock block={block} />
          ))}
        </div>
      )
    }
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4">
      {
        Astro.props.project.body && (
          <ProjectSection class="col-span-1 md:col-span-3">
            <ProjectSectionTitle size="lg" slot="title">
              Summary
            </ProjectSectionTitle>
            <div class="grid gap-4 px-0 py-4 leading-relaxed md:px-4">
              <Content />
            </div>
          </ProjectSection>
        )
      }
      {
        blocksOnBottom.length > 0 && (
          <div
            class={`flex w-full gap-4 ${Astro.props.project.body ? "flex-col" : "col-span-4 flex-row"}`}
          >
            {data.blocks?.map((block) => (
              <ProjectBlock block={block} class={block.onTop ? "hidden md:grid" : ""} />
            ))}
          </div>
        )
      }
    </div>
  </div>
</Layout>
