---
import { getCollection } from "astro:content";

import Layout from "@/layouts/layout.astro";
import ProjectCard from "./_components/project-card.astro";

const projectCollection = await getCollection("project");
const projectTypeCollection = await getCollection("projectType");

const projectArray = Object.groupBy(
  projectCollection.map((p) => ({ ...p.data, id: p.id })),
  (project) => project.projectType,
);
const projectTypes = new Map(
  projectTypeCollection.map(
    (p) => [p.id, p.data] as const,
  ),
);
const projects = Object.entries(projectArray)
  .map(
    ([type, p]) =>
      [
        projectTypes.get(type as (typeof projectTypeCollection)[number]["id"])!,
        p,
      ] as const,
  )
  .sort(([a], [b]) => a.order - b.order);
---

<Layout>
  <div class="grid w-full gap-8">
    {
      projects.map(([type, p]) => (
        <div class="grid gap-2">
          <h2 class="px-2 py-2 text-center font-semibold text-3xl text-secondary">
            {type.title}
          </h2>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {p.map((project) => (
              <ProjectCard
                title={project.title}
                href={`/projects/${project.id}`}
                description={project.description}
                tags={project.mainTags}
              />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Layout>
